.showcase {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 30px;
}

.card {
background-color: #f4f7fb;
border: 1px solid #ddd;
padding: 20px;
border-radius: 8px;
text-align: center;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
margin: 10px;
}

.card img {
width: 500px;
height: 500px;
}

button {
padding: 12px 20px;
background-color: #3b82f6;
position: relative;
margin: 30px auto 0 auto;
display: block;
color: white;
border: none;
border-radius: 8px;
cursor: pointer;
font-size: 16px;
transition: background-color 0.3s;
}

button:hover {
background-color: #2563eb;
}

a {
color: #3b82f6;
text-decoration: none;
font-size: 14px;
margin-top: 10px;
display: block;
transition: color 0.3s;
}

a:hover {
text-decoration: underline;
}

.back-button {
padding: 12px 20px;
background-color: #000111;
color: white;
font-size: 16px;
font-weight: 500;
text-decoration: none;
border-radius: 10px;
text-align: center;

}